.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff914d;
  padding: 15px 40px;
  font-family: "Poppins", sans-serif;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-decoration: none;

}

.logo-link,
.logo-link:visited,
.logo-link:hover {
  text-decoration: none;
  color: white; 
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  background-color: #fff;
  color: #ff6f00;
  padding: 6px 12px;
  border-radius:6px ;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #fff3e0;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.login, .register{
  background-color: #fff;
  color: #ff6f00;
  padding: 6px 12px;
  margin: 0 10px;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
.login:hover, .register:hover {
  background-color: #ff6f00;
  color: #fff;
}
/* Cart */
.cart {
  color: white;
  position: relative;
  font-size: 20px;
  text-decoration: none;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -12px;
  background: white;
  color: #ff6f00;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
}

/* User dropdown */
.user-menu {
  position: relative;
  
}

.dropdown {
  position: absolute;
  top: 35px;
  right: 0;
  background: white;
  color: #ff6f00;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  min-width: 130px;
  padding: 10px 0;
  text-align: center;
  z-index: 999;
}

.dropdown .logout {
   background: none;
  border: none;
  color: #ff6f00;
  padding: 8px 0;
  cursor: pointer;
  font-weight: 600;
}

.dropdown .logout:hover {
  background: #ff914d;
  color: white;
}

.username {
  font-weight: bold;
  padding: 8px 0;
  color:#333;
}

/* Mobile Styles */
.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background: #ff914d;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .nav-links.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
}
